.dropTarget {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eeeeee;
	border: dotted black 2px;
	width: 42em;
	height: 6em;
}
.dropTarget[data-dropped] {
	background-color: #dddddd;
	border: dotted #333333 2px;
	cursor: not-allowed;
}